@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-hcg-black: #1b1919;
  --color-hcg-pastel-brown: #7a6a58;
  --color-hcg-medium-brown: #81633e;
  --color-hcg-gold: #bb8e57;
  --color-hcg-white: #ffffff;
  --color-hcg-gray: #eaeaee;

  --font-hcg-main: "Roboto", sans-serif;
  --font-hcg-alt: "Inter", sans-serif;
}

.footer-gradient {
  background-image: linear-gradient(
    to right,
    #bb8e57 0%,
    #5e472c 35%,
    #000000 100%
  );
}
